.top-content {
    height: 200px;
    margin-top: auto;
}

.hours-number::-webkit-inner-spin-button,
.hours-number::-webkit-outer-spin-button {
    -webkit-appearance: none !important;
}

.learning-user-name {
    color: #333;
    font-size: 16px;
}

.sub-learning-content {
    color: #a2a2a4;
    display: inline-block;
    font-size: 16px;
}

.content {
    display: none;
}

.content.show {
    display: block;
}

.signup-login-area {
    display: flex;
    justify-content: space-between;
}
